<article class="post">
  <div class="title">
    <a href="/post/{{id}}">
    <h2>{{title}}</h2>
    </a>
  </div>
  <div>
    <p>{{description}}</p>
  </div>
  <div class="meta">
    {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}}
    |
    <span>{{comments.length}} {{format_plural "comment" comments.length}}</span>
  </div>
</article>